*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

:root {
    font-size: 100%;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.not-allowed {
    cursor: not-allowed;
}

.no-pointer-events {
    pointer-events: none;
}

/* ------------------ HEADER --------------------- */
.header {
    text-align: center;
}

/* ------------------ MAIN --------------------- */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.ttt-container {
    width: 400px;
    height: 400px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

.ttt-box {
    text-align: center;
    font-size: 4.2rem;
    font-weight: bold;
    padding-top: calc(calc(100% - 4.3rem)/2);
}



/* ------------------ FOOTER --------------------- */

.footer {
    margin-top: auto;   
}

/* ------------------ MODAL --------------------- */

.modal {
    width: max-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 250ms ease-in-out;
    z-index: 10;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}